[submodule "addons/2026_01_18_gdp_nes_controller_udp"]
	path = addons/2026_01_18_gdp_nes_controller_udp
	url = https://github.com/EloiStree/2026_01_18_gdp_nes_controller_udp.git
[submodule "addons/2026_06_17_gdp_play_to_arc_raider_in_xr"]
	path = addons/2026_06_17_gdp_play_to_arc_raider_in_xr
	url = https://github.com/EloiStree/2026_06_17_gdp_play_to_arc_raider_in_xr.git
